body{
height: 100%;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

.main{
    flex: 1 1 auto;
}

[class*="__container"]{
    max-width: 1057px;
    margin: 0px auto;
}

.header__container{
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.logo-span{
    margin: 0;
    font-weight: bold;
}

.logo-spann{
    color: #696969;
}

.header__menu{
    flex: 1 1 auto;
}

.menu{
    display: flex;
    justify-content: center;
}

.menu__list{
    display: flex;
}

.menu__item{
    color: #000;
    font-size: 17px;
    margin: 0px 25px;
    cursor: pointer;
}

.header__button{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}

.button{
    font-size: 17px;
    padding: 10px 25px;
    background: none;
    border-radius: 4px;
    border-color: #000;
    cursor: pointer;
}

